<div class="root">
  <header>
	<h2>Pengelola Data Siswa</h2>
  </header>
  <main>
	<div class="cell">
	  <p><span>Pengenalan</span><br>
		Aplikasi ini adalah aplikasi yang dibuat untuk mengelola data siswa.Tambah Lihat Perbarui dan Hapus (CRUD) itulah 
		yang bisa dilakukan oleh aplikasi ini. Aplikasi ini masih dalam tahap pengembangan dan belun stabil,oleh karena itu
		tolong laporkan ke dua orang pengembang.Server ini dijalankan di Node.js yang memang powerfull.Server ini lumayan cepat
		dan banyak package yang bisa dipakai. Mohon	bantuannya.
	</p>
	</div>
	<div class="cell no-border">
	  <p><span>Let's Go</span><br>
		Tanpa basa-basi lagi, Ayo coba aplikasi Pengelola siswa ini.
	  </p>
	</div>
  </main>
  <footer>
	<h2>Footer goes here</h2>
  </footer>
</div>
<%- contentFor('styleTambahan')%>
<link rel="stylesheet" href="/css/landing.css">