<html>
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta name="theme-color" content="#333">
	
	<title><%= judul %></title>
	
	<!--Information-->
	<meta name="author" content="Fachry And Ezra">
	<meta name="description" content="Dogstudio Portfolio">
	
	<%-defineContent('styleTambahan')%>
  </head>
  <body>
	<%- body %>
	<%-defineContent('scriptTambahan') %>
  </body>
</html>